<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLAMSH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>
    <main>
        <div class="main-item">
            <div class="primer-contenedor">
                <section class="contenedor-carrusel">
                    <div class="carrusel" id="carrusel-1">
                        <article class="item" id="item-1">
                            <img src="/images/products/<%= product.image %>" alt="jersey1">
                        </article>
                        <div class="flechas">
                            <a href="#carrusel-4">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                            <a href="#carrusel-2">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="carrusel" id="carrusel-2">
                        <article class="item" id="item-2">
                            <img src="/images/products/<%= product.image %>" alt="jersey2">
                        </article>
                        <div class="flechas">
                            <a href="#carrusel-1">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                            <a href="#carrusel-3">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="carrusel" id="carrusel-3">
                        <article class="item" id="item-3">
                            <img src="/images/img-main/prendas/moto_aire.jpg" alt="pantalon">
                        </article>
                        <div class="flechas">
                            <a href="#carrusel-2">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                            <a href="#carrusel-4">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="carrusel" id="carrusel-4">
                        <article class="item" id="item-4">
                            <img src="/images/img-main/prendas/moto_tierra.jpg" alt="moto">
                        </article>
                        <div class="flechas">
                            <a href="#carrusel-3">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                            <a href="#carrusel-1">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </section>
                <div class="puntos">
                    <a href="#carrusel-1">■</a>
                    <a href="#carrusel-2">■</a>
                    <a href="#carrusel-3">■</a>
                    <a href="#carrusel-4">■ </a>
                </div>
            </div>
            <div class="segundo-contenedor">
                <div class="contenedor-detalle">
                    <div class="titulo-precio">
                        <div>
                            <p class="titulo"><%= product.name %></p>
                        </div>
                        <div>
                            <p class="precio">$<%= product.price %></p>
                        </div>
                    </div>
                    <div class="descripcion-producto">
                        <h6><strong><%= product.description %></strong></h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis temporibus doloribus quo
                            sint
                            animi sapiente totam sed. Maiores, voluptates ut dolore eius explicabo cum ipsum,
                            accusantium,
                            amet
                            voluptate tempora molestiae.</p>
                    </div>
                    <div class="talla-medidas">
                        <div>
                            <p>Elige tu talla</p>
                        </div>
                        <div>
                            <a href="<%= '/images/guiaMedidas.png' %>">Guía de medidas</a>
                        </div>
                    </div>
                    <div class="tallas-mobil">
                        <input type="checkbox" id="tallaS-mobil">
                        <label class="label-mobile" for="tallaS-mobil">S</label>
                      
                        <input type="checkbox" id="tallaM-mobil">
                        <label class="label-mobile" for="tallaM-mobil">M</label>
                      
                        <input type="checkbox" id="tallaL-mobil">
                        <label class="label-mobile" for="tallaL-mobil">L</label>
                      
                        <input type="checkbox" id="tallaXL-mobil">
                        <label class="label-mobile" for="tallaXL-mobil">XL</label>
                    </div>
                      <br>
                    <div>
                        <form action="">
                            <div class="input-group">
                                <label></label>
                                <input class="my-input" type="submit" value="Comprar Ahora">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mas-detalles">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>
                </div>
            </div>
        </div>





        <div class="contenedor-720">
            <div class="contenedor-720-img">
                <div class="img-superior">
                    <div class="imgmin-720">
                        <img src="/images/products/<%= product.image %>" alt="jersey1">
                    </div>
                    <div class="imgmin-720">
                        <img src="/images/products/<%= product.image %>" alt="jersey2">
                    </div>
                </div>

                <div class="img-inferior">
                    <div class="imgmin-720">
                        <img src="/images/img-main/prendas/moto_aire.jpg" alt="pantalon">
                    </div class="min-720">
                    <div class="imgmin-720">
                        <img src="/images/img-main/prendas/moto_tierra.jpg" alt="moto">
                    </div>
                </div>
            </div>

            <div class="contenedor-720-detalle">
                <div class="detalle-720">
                    <div class="titulo-precio">
                        <div>
                            <p class="titulo"><%= product.name %></p>
                        </div>
                        <div>
                            <p class="precio">$<%= product.price %></p>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <h6><strong><%= product.description %></strong></h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis temporibus doloribus
                            sint animi sapiente totam sed. Maiores, voluptates ut dolore eius explicabo cum ipsum,
                            accusantium, amet oluptate tempora molestiae.</p>
                    </div>
                    <div class="talla-medidas">
                        <div>
                            <p>Elige tu talla</p>
                        </div>
                        <div>
                            <a href="<%= '/images/guiaMedidas.png' %>">Guía de medidas</a>
                        </div>
                    </div>
                    <div class="tallas">
                        <input type="checkbox" id="tallaS" class="tallas-checkbox">
                        <label for="tallaS">S</label>
                      
                        <input type="checkbox" id="tallaM" class="tallas-checkbox">
                        <label for="tallaM">M</label>
                      
                        <input type="checkbox" id="tallaL" class="tallas-checkbox">
                        <label for="tallaL">L</label>
                      
                        <input type="checkbox" id="tallaXL" class="tallas-checkbox">
                        <label for="tallaXL">XL</label>
                      </div>
                      <br>
                    <div>
                        <form action="">
                            <div class="input-group">
                                <label></label>
                                <input class="my-input" type="submit" value="Comprar Ahora">
                            </div>
                        </form>
                    </div>
                </div><br>
                <div class="mas-detalles-720">
                    <p>Blanditiis temporibus doloribus sint animi sapiente totam sed. Maiores.</p><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="comentarios">
                    <i class="fa-regular fa-comment-dots"></i>

                    <a href="#opinion"><i class="fa-solid fa-star"></i></a>
                    <a href="#opinion"><i class="fa-solid fa-star"></i></a>
                    <a href="#opinion"><i class="fa-solid fa-star"></i></a>
                    <a href="#opinion"><i class="fa-solid fa-star"></i></a>
                    <a href="#opinion"><i class="fa-regular fa-star-half-stroke"></i></a>

                </div>
                <div class="descripcion-amplia"><br>
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="completo">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, debitis necessitatibus assumenda
                        facilis consectetur suscipit illum, minus accusantium incidunt aut, autem nihil distinctio? Odit
                        fugit, magni at suscipit delectus vero!
                        Nostrum, possimus. Sequi unde doloremque odio sit? Quos, corporis? Consectetur beatae asperiores
                        cupiditate suscipit corporis quia ea atque perspiciatis repellendus omnis! Explicabo, ratione!
                        Officiis ipsum velit nihil quia ad vel?
                    </p>
                </div>

                <form class="opinion" action="/contacto" method="get">
                    <div>
                        <div>
                            <label for="opinion">Escribe tu opinión sobre el producto:</label>
                            <textarea name="opinion" id="opinion"></textarea>
                        </div>
                    </div>
                </form>
                <br>

            </div>
        </div>
    </main>

    <script src="js/catalog.js"></script>

    <footer class='footer-layout'>
        <%-include ('./partials/footer')%>
    </footer>
</body>

</html>