<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/editionProduct.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
    <title>Edición de productos</title>
</head>

<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>

    <main>
        
        <section class="product-edit">
            <a href="/products/<%= product.id %>/detail">
                <button class="back"><i class="fa-solid fa-arrow-left"></i></button>
            </a>
            <form id="form" action="/products/<%= product.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                <h2 class="title">Edición de producto</h2>

                <input class="items" type="text" name="name" id="name"
                value="<%= locals.bodyData ? locals.bodyData.name : product.name %>" placeholder="Nombre de producto">
                <p id="error-name-product"></p>
                  <% if (locals.errors && locals.errors.name) { %>
                    <div class="msg-error" style="color: red;">
                   <%= errors.name.msg %>
                   </div>
                  <% } %>              

                    <input class="items-desc" type="text" name="description" id="description"
                    value="<%= locals.bodyData ? locals.bodyData.description : product.description %>" placeholder="Descripción de producto">
                    <p id="error-description-product"></p>
                    <% if (locals.errors && locals.errors.description) { %>
                        <div class="msg-error" style="color: red;">
                       <%= errors.description.msg %>
                       </div>
                      <% } %> 
                
                <div>
                    <label for="">Seleccione la categoría</label><br>
                    <select id="category" name="category_id">
                        <% categorys.forEach(category=> { %>
                            <option value="<%= category.id %>" <% if (category.id==product.category_id) { %>selected<% }%>>
                        <%= category.category %>
                            </option>
                        <% }) %>
                    </select>
                    <p id="error-category-product"></p>
                </div>
                <br>

                <div>
                    <label for="">Seleccione una talla</label><br>
                    <select id="size" name="id_size" multiple>
                        <% if (Array.isArray(product.sizes)) { %>
                          <% sizes.forEach(size => { %>
                            <option value="<%= size.id %>" <%= product.sizes.some(productSize => productSize.id === size.id) ? 'selected' : '' %>>
                              <%= size.size %>
                            </option>
                          <% }); %>
                        <% } else { %>
                          <% sizes.forEach(size => { %>
                            <option value="<%= size.id %>"><%= size.size %></option>
                          <% }); %>
                        <% } %>
                      </select>
                      <p id="error-size-product"></p>
                </div><br>

                <input class="items" type="number" name="price" id="price"
                value="<%= locals.bodyData ? locals.bodyData.price : product.price %>" placeholder="Precio de producto">
                <p id="error-price-product"></p>
                <% if (locals.errors && locals.errors.price) { %>
                    <div class="msg-error" style="color: red;">
                   <%= errors.price.msg %>
                   </div>
                  <% } %> 

                <label for="">Seleccione una imagen</label><br>
                <input class="importar" type="file" name="image" id="image" value="Importar imagenes" multiple>
                <p id="error-image-product"></p>
                <% if (locals.errors && locals.errors.image) { %>
                    <div class="msg-error" style="color: red;">
                        <%= errors.image.msg %>
                    </div>
                    <% } %>
                    <input type="submit" class="button" name="publicar" id="publicar" value="Publicar">
            </form>
        </section>
        <section class="product-image">

            <img width="200px" src="/images/products/<%= product.image %>" alt="">
           
        </section>
    </main>




    <footer class='footer-layout'>
        <%-include ('./partials/footer')%>
    </footer>

    <script src="/js/productValidator.js"></script>
    <script src="/js/catalog.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>