<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-register.css">
    <link rel="stylesheet" href="/css/editProfile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    <title>BLAMSH</title>
</head>


<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>

    <main>

        <form class="form-edit" action="/profile/edit?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="back">
                <button type="button" onclick="window.location.href='/profile'">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </div>
            <section class="container-edit-profile">

                <div>
                    <label for="">Nombre</label>
                    <input type="text" name="firstName"
                        value="<%= locals.bodyData ? locals.bodyData.firstName : user.firstName %>">
                    <% if (locals.errors && locals.errors.firstName) { %>
                        <p style="color: red;">
                            <%= locals.errors.firstName.msg %>
                        </p>
                        <% } %>

                </div>
                <div>
                    <label for="">Apellido</label>
                    <input type="text" name="lastName"
                        value="<%= locals.bodyData ? locals.bodyData.lastName : user.lastName %>">
                    <% if (locals.errors && locals.errors.lastName) { %>
                        <p style="color: red;">
                            <%= locals.errors.lastName.msg %>
                        </p>
                        <% } %>
                </div>
                <div>
                    <label for="">Imagen de perfil</label>
                    <input type="file" name="image">
                    <% if (locals.errors && locals.errors.image) { %>
                        <p style="color: red;">
                            <%= locals.errors.image.msg %>
                        </p>
                        <% } %>
                </div>
                <div>
                    <label for="">Teléfono</label>
                    <input type="text" name="phone"
                    value="<%= locals.bodyData ? locals.bodyData.phone : user.phone %>">
                    <% if (locals.errors && locals.errors.phone) { %>
                        <p style="color: red;">
                            <%= locals.errors.phone.msg %>
                        </p>
                        <% } %>
                </div>
                <div>
                    <button class="button-save" type="submit">Guardar Cambios</button>
                </div>
            </section>
        </form>



    </main>

    <footer>
        <%-include ('./partials/footer')%>
    </footer>
    <script src="js/catalog.js"></script>
</body>


</html>