<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/userList.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    <title>BLAMSH</title>
</head>

<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>
    <main>

        <h1>Listado de Usuarios</h1>

        <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td class="mayus"><%= user.firstName %></td>
                    <td class="mayus"><%= user.lastName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.rol_id %></td>
                    <td>
                        <form action="/users/<%= user.id %>/delete?_method=DELETE" method="post">
                            <input type="submit" value="Eliminar usuario">
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table><br>

</main>
    <footer class="footer-layout">
        <%-include ('./partials/footer')%>
    </footer>
</body>


</html>