<!DOCTYPE html>
<html lang="en">

</html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/editionProduct.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    
    
        <title>Alta de producto</title>
    </head>
    <body>
        <header>
            <%-include ('./partials/navbar')%>
        </header>
    

        <main>
          
            <section class="product-edit">
              <a href="/products">
                <button class="back"><i class="fa-solid fa-arrow-left"></i></button>
            </a>
                <form action="/products" method="post" enctype="multipart/form-data">
                  <h2 class="title">Alta de producto</h2>
                  <input class="items" type="text" name="name" id="name" placeholder="Nombre de producto"
                  value="<%= locals.bodyData ? bodyData.name : null %>">
                  <% if (locals.errors && errors.name) { %>
                    <div class="msg-error" style="color: red;">
                   <%= errors.name.msg %>
                   </div>
                  <% } %>

                  <input class="items-desc" type="text" name="description" id="description" placeholder="Descripción de producto"
                  value="<%= locals.bodyData ? bodyData.description : null %>">
                  <% if (locals.errors && errors.description) { %>
                    <div class="msg-error" style="color: red;">
                   <%= errors.description.msg %>
                   </div>
                  <% } %>
              
                  <div>
                    <label for="">Seleccione la categoría</label><br>
                    <select name="category">
                      <option value="" disabled selected>Seleccione la categoría</option>
                      <option value="Indumentaria"
                      <%= locals.bodyData && locals.bodyData.category == 'Indumentaria' ? 'selected' : null %>>Indumentaria</option>
                      <option value="Accesorios"
                      <%= locals.bodyData && locals.bodyData.category == 'Accesorios' ? 'selected' : null %>>Accesorios</option>
                      <option value="Equipamiento y Repuestos"
                      <%= locals.bodyData && locals.bodyData.category == 'Equipamiento y Repuestos' ? 'selected' : null %>>Equipamiento y Repuestos</option>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                      <div class="msg-error" style="color: red;">
                     <%= errors.category.msg %>
                     </div>
                    <% } %>
                  </div><br>
              
                  <div>
                    <label for="">Seleccione una talla</label><br>
                    <select name="size" multiple>
              
                      <% sizes.forEach(size => { %>
                       <% if (locals.bodyData && locals.bodyData.size == size.id) { %>
                        <option value= "<%= size.id %>" selected ><%= size.size %></option>
                        
                       <% } else { %>
                        <option value= "<%= size.id %>"><%= size.size %></option>
                      <% } %>
                      <% }) %>
              
                    </select>
                    <% if (locals.errors && errors.size) { %>
                      <div class="msg-error" style="color: red;">                       
                     <%= errors.size.msg %>
                     </div>
                    <% } %>
                  </div><br>

                  <input class="items" type="number" name="price" id="precio" placeholder="Precio de producto"
                  value="<%= locals.bodyData ? bodyData.price : null %>">
                  <% if (locals.errors && errors.price) { %>
                    <div class="msg-error" style="color: red;">                      
                   <%= errors.price.msg %>
                   </div>
                  <% } %>
              
                  <label for="">Seleccione una imagen</label><br>
                  <input class="importar" type="file" multiple name="image" id="importar" value="importar imagenes">
                  <% if (locals.errors && errors.image) { %>
                    <div class="msg-error" style="color: red;">
                   <%= errors.image.msg %>
                   </div>
                  <% } %>

                  <a href="#"><input class="button" type="submit" name="publicar" id="publicar" value="Publicar"></a>
                </form>
              </section>
                  
            <section class="product-image">
                <input class="items-img" type="image" name="imagen" id="imagen" placeholder="Imagen de producto"> <br>
                <input class="items-img" type="image" name="imagen" id="imagen" placeholder="Imagen de producto">  
            </section> 



    </main>



    <footer class = 'footer-layout'>
        <%-include ('./partials/footer')%>
    </footer>


</body>

</html>