<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editar producto <%= product.id %></h1>
    <form action="/products/<%= product.id %>/edit?_method=PUT" method="post">
            
        <div>
            <label for="">Nombre del producto</label>
            <input type="text" value="<%= product.name %>" name="name">
        </div><br>
        <div><label for="">Descripción del producto</label>
            <input type="text" value="<%= product.description %>" name="description">
        </div><br>
        <div><input type="file" name="image" multiple></div><br>
        <div><label for="">Seleccione la categoría</label><br>
            <select name="category">
                <option value="Ropa">Ropa</option>
                <option value="Accesorios">Accesorios</option>
                <option value="Equipamiento y Repuestos">Equipamiento y Repuestos</option>
            </select>
        </div><br>
        <div>
            <label for="">Seleccione un color</label><br>
            <select name="colors">
                <option value="Rojo">Rojo</option>
                <option value="Azul">Azul</option>
                <option value="Negro">Negro</option>
                <option value="Rosa">Rosa</option>
                <option value="Verde">Verde</option>
                <option value="Blanco">Blanco</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Azul/Rojo">Azul/Rojo</option>
                <option value="Verde/Negro">Verde/Negro</option>
                <option value="Naranja/Azul">Naranja/Azul</option>
                <option value="Plata">Plata</option>
                <option value="Transparente">Transparente</option>
                <option value="Ámbar">Ámbar</option>
                <option value="Variados">Variados</option>
            </select>
        </div><br>
        <div><label for="">Ingrese la talla</label>
            <input type="text" value="<%= product.talle %>" name="talle">
        </div><br>
        <div><label for="">Ingrese un precio</label>
            <input type="number" value="<%= product.price %>" name="price">
        </div><br>
        <input type="submit" value="Registrar producto">
    </form>
    
</body>

</html>