<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    <title>BLAMSH</title>
</head>

<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>

    <h2 class= "productId"> Producto <%= product.id %></h2>
 
    <main class="mainContainer">
        <section class = "articleDetail">
        
            <h2 class="ProductName"><%= product.name %></h2>
            
            <h4 class="productDescription"><%= product.description %></h4>
            
            <div id="imagen" class="productImage">          
                <img width="200px" src="/images/products/<%= product.image %>" alt="Imagen del producto">
            </div>

            <article class="productItems">

                <h5 class="productCategory"> Categoría: <%= product.category.category %></h5>

                <h5 class="productSize" > Talle: <%= product.sizes.size %></h5>

                <h5 class="productPrice" >Precio: $<%= product.price %></h5>

                <a href="/products/<%= product.id %>/edit">
                    <button class="editButton">Editar producto</button>
                </a>
                <form action="/products/<%= product.id %>/delete?_method=DELETE" method="post">
                    <input class="submitButton"  type="submit" value="Eliminar producto">
                </form>

            </article>
        </section>
    </main>

    <h2 class="productId2"> Detalle</h2>

    <footer>
        <%-include ('./partials/footer')%>
    </footer>
</body>

</html>