<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Estas viendo el detalle del producto <%= product.id %>
    </h1>
    <article>
        <h1>
            <%= product.title %>
        </h1>
        <h3>
            $<%= product.price %>
        </h3>
<img width="300px" src="/images/products/<%= product.img %>" alt="">

        <a href="/products/<%= product.id %>/edit">
            <button>Editar producto</button>
        </a>
        <form action="/products/<%= product.id %>/delete?_method=DELETE" method="post">
            <input type="submit" value="Eliminar producto">
        </form>

    </article>
</body>

</html>