<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/crud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    <title>BLAMSH</title>
</head>

<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>

    <div class="buttonCreate">
        <a href="/products/create">
            <button>Crear producto</button>
        </a>
    </div>

    <section><br>

        <% products.forEach(product=> { %>

            <article class="productWrapper">
                <div class="product">
                    <strong>Nombre: </strong>
                    <%= product.name %>
                </div>
                <div class="product">
                    <strong>Descripción: </strong>
                    <%= product.description %>
                </div>
                <div class="product">
                    <strong>Imagen: </strong>
                    <img width="200px" src="/images/products/<%= product.image %>" alt="">
                </div>

                <div class="product">
                    <strong>Categoría: </strong>
                    <%= product.category.category %>
                </div>
                </div>
                <div class="product">
                    <strong>Tallas: </strong>
                    <%= product.sizes.size %>
                </div>
                <div class="product">
                    <strong>Precio: </strong>$<%= product.price %>
                </div>
                <div class="buttonDetail">
                    <a href="/products/<%= product.id %>/detail">
                        <button>Ver detalle</button>
                    </a>
                </div>
            </article><br>
            <% }) %>
    </section>
    <footer class="footer-layout">
        <%-include ('./partials/footer')%>
    </footer>
</body>


</html>