<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

    <title>BLAMSH</title>
</head>


<body>
    <header>
        <%-include ('./partials/navbar')%>
    </header>
    <main>
        <section class="main__section-photo">
            <img src="images/img-register/register__main-background.jpg" alt="none">

        </section>

        <section class="main__section-register">
            <div class="section-register__grid">
                <div class="section-register__titulos">
                    <h2>UNITE A LA COMUNIDAD BLAMSH</h2>
                    <h3>Empeza a disfrutar de estos beneficios:</h3>
                </div>
                <ul>
                    <li><i class="fa fa-light fa-truck-fast fa-xl" style="color: #a09b9b;"></i>
                        <p>Consulta en el historial el estado de todos tus pedidos</p>
                    </li>
                    <li><i class="fa-sharp fa-solid fa-hand-holding-dollar fa-xl" style="color: #a09b9b;"></i>
                        <p>Llevate un 10% de descuento adicional en tu proximo pedido</p>
                    </li>
                    <li> <i class="fa fa-light fa-gift fa-xl" style="color: #a09b9b;"></i>
                        <p>Recibí descuentos especiales y enterate de las ultimas novedades: 100% contenido 0% spam</p>
                    </li>
                    <li><i class="fa fa-light fa-circle-user fa-xl" style="color: #a09b9b;"></i>
                        <p> Recordá registrarte con la misma dirección de email que usaste durante tu/s compra/s</p>
                    </li>

                </ul>
            </div>

            <div class="section__form-register">


                <p style="color: red; font-size: 20px;">
                    <%= locals.error %>
                </p>

                <form action="/register" method="post" class="form-register__form" enctype="multipart/form-data">


                    <input type="text" id="firstName" name="firstName" placeholder=  <% if (locals.errors && locals.errors.firstName) { %>
                            
                           " <%= locals.errors.firstName.msg %> "
                      
                        <% }else{ %>
                                'Nombre'
                            <% }%>
                        value="<%= locals.bodyData ? bodyData.firstName : null %>">

                   

                            <input type="text" id="lastName" name="lastName" placeholder=<% if (locals.errors && locals.errors.firstName) { %>
                            
                                " <%= locals.errors.lastName.msg %> "
                           
                             <% }else{ %>
                                     'Apellido'
                                 <% }%>
                            value="<%= locals.bodyData ? bodyData.lastName : null %>">

                            

                                    <input type="email" id="email" name="email" placeholder=<% if (locals.errors && locals.errors.firstName) { %>
                            
                                        " <%= locals.errors.email.msg %> "
                                   
                                     <% }else{ %>
                                             'Apellido'
                                         <% }%>
                                    value="<%= locals.bodyData ? bodyData.email : null %>">

                                  

                                            <input type="tel" name="phone" id="phone" placeholder=<% if (locals.errors && locals.errors.firstName) { %>
                            
                                                " <%= locals.errors.phone.msg %> "
                                           
                                             <% }else{ %>
                                                     'Telefono'
                                                 <% }%>
                                            value="<%= locals.bodyData ? bodyData.phone : null %>">

                                           
                            <div>
                                                    <input type="file" name="image">
                                                    <% if (locals.errors && locals.errors.image) { %>
                                                        <p style="color: red;">
                                                            <%= locals.errors.image.msg %>
                                                        </p>
                                                        <% } %>
                                                   
                                                        </div>
                                                    <input type="password" name="password" id="password"
                                                        placeholder=<% if (locals.errors && locals.errors.firstName) { %>
                            
                                                            " <%= locals.errors.firstName.password %> "
                                                       
                                                         <% }else{ %>
                                                                 'Contraseña'
                                                             <% }%>>

                                                  
                                                    
                                                            <div class="form__checkbox-container">
                                                                <input type="checkbox" id="opcion1" name="opcion1"
                                                                    value="opcion1" class="form__checkbox">
                                                                <label class="form_label-checkbox" for="opcion1">Acepto
                                                                    la Política de Privacidad y los
                                                                    Términos
                                                                    de Uso de Blamsh.
                                                                </label>
                                                                <% if (locals.errors && locals.errors.opcion1) { %>
                                                                    <p style="color: red;">
                                                                        <%= locals.errors.opcion1.msg %>
                                                                    </p>
                                                                    <% } %>

                                                            </div>
                                                            <div class="form__checkbox-container">
                                                                <input type="checkbox" id="opcion2" name="opcion2"
                                                                    value="opcion2">
                                                                <label class='form_label-checkbox' id="opcion1">Acepto
                                                                    recibir comunicaciones de
                                                                    Blamsh</label>
                                                            </div>
                                                            <input type="submit" value="Unite a BLAMSH"
                                                                class="form__enviar">

                </form>
            </div>
        </section>
    </main>



    <footer>
        <%-include ('./partials/footer')%>
    </footer>
    <script src="js/catalog.js"></script>
</body>


</html>